/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2019, 10:41:49 AM
    Author     : Administrater
*/
@font-face{
    font-family: "Roboto";
    src: url("/fonts/RobotoCondensed-Regular.tff");
    src: url("/fonts/Roboto-Regular.tff");
}
body{
    width:960px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    /*background-image: linear-gradient(blue, #ffff00);;*/
    color: whitesmoke;
}
#main-container {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    
    /*border: 3px dashed #9d9d9d;*/
}

#header, #content {
    border-bottom: 3px solid #9d9d9d;
}

#header{
    height: 80px;
    padding: 3px;
    padding-bottom: 3em;
    
}

/*------------------------------------- LOGO STYLING --------------------------------------*/
.mylogo {
    margin: 0;
	/* background-color: red; */
}
.mylogo .myName {
    font-stretch: condensed;
    font-size: 2em;
    /* line-height: 2em; */
    
}
.mylogo img{
	width: 64px;
	height: 64px;
    padding-right: 7px;
    position: relative;
    top:20px;
    opacity: 1;
}
.eee{
    font-size: 1.1em;
    padding-left:0.2em;
    position: relative;
    top:-0.1em;
   }

.fff{
    font-stretch: condensed;
}

.ggg{
    font-weight: 1000;
}
.qqq{
    font-weight: 300;
}


/*------------------------------------- MENU STYLING --------------------------------------*/
.topnav{
	/* background-color:red; */
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: auto;
    z-index:999;
    position:relative;
    top:50%;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    color: #3d3d3d;
    text-decoration: none;
    outline: none;
}

.topnav a.menu{
    font-size: 17px;
    padding: 14px 16px;
    float: right;
    padding-top: 2.75em;
    color: #9d9d9d;
}

.topnav a.menu:hover{
    transition: 0.4s;
    text-decoration: underline;
    text-decoration-color: #ffcc00;
    color: #3d3d3d;
    padding-top: 2.2em;
    font-size:20px;
    font-weight:1000;
}

.topnav .icon{
    display: none;
}

/*--------------------------- PORTFOLIO STYLING --------------------------------*/

#content{
    padding-top: 2.2em;
    padding-bottom: 2.2em;
    color: #4d4d4d;
}
#content p {
    color: #4d4d4d;
    font-size: 18px;
    line-height: 30px;
	text-align: justify;
	text-justify: inter-word;
}
#content i {
    color: #9d9d9d;
}


#slideshow-container{
    width: 960px;
    height: 480px;
    position: relative;
    z-index: 99;
    clip: rect(0,960px,480px,0);
    border-radius: 5px;
    overflow: hidden;
	pointer-events: none;
}

#slideshow-container:hover{
    cursor: none;
}

#slideImg1,#slideImg2,#slideImg3,#slideImg4{
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;
}

#slideImg1{
    z-index: 4;
    animation: slide1 30s linear infinite;
}
#slideImg2{
    z-index: 3;
    animation: slide2 30s linear infinite;
}
#slideImg3{
    top:0px;
    z-index: 2;
    height: 960px;
    animation: slide3 30s linear infinite;
}
#slideImg4{
    z-index: 1;
    animation: slide4 30s linear infinite;
}

@keyframes slide1{
    0% {opacity:1; transform:translate(0px, -155px);}
    20% { opacity: 1;}
    25% { opacity: 0; transform:translate(0px, -165px);} 
    95% { opacity: 0; transform:translate(0px, -150px);}
    100% { opacity: 1; transform:translate(0px, -155px);}
}

@keyframes slide2{
    0% {opacity:0;}
    20% {opacity: 0;}
    25% {opacity: 1;}
    45% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes slide3{
    0% {opacity:0;}
    45% {opacity:0; transform:translate(0px, -180px);}
    50% {opacity:1;}
    70% {opacity:1;}
    75% {opacity:0; transform:translate(0px, -320px);} /*transform:scale(1.4);*/
    100% {opacity:0;}
}

@keyframes slide4{
    0% {opacity:0;}
    70% {opacity: 0;}
    75% {opacity: 1;}
    100% {opacity: 1;}
    
}
#myWork-title{
}

#myWork-title p{
    padding-top: 1.5em;
    text-align: center;
    font-size: 14px;
    color:#6d6d6d;
}

.Back2work{
    margin-left: 47%;
    overflow: hidden;
    border-radius: 5px;
    width: 70px;
    height: 70px;
    
}
.Back2work img{
    width: 70px;
    height: 70px;
}

#portfolio-wrapper{
    position:relative;
    border: 3px solid #ffcc00;
    border-radius: 10px;
}
#portfolio-container{
    position: relative;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:1em;
	padding: .7em;
    justify-content: left;
	overflow:hidden;
    
}
.project{
    display: none;
    float:left;
    outline: none;
    text-decoration: none;
    border: 0.5px solid #bdbdbd;
    border-radius: 5px;
    overflow: hidden;
    height:220px;
    width: 220px;
    max-width: 100%;
}
figure{
    margin:0;
    padding:0;
}
.project figure img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: contain;
}
.project figcaption{
    padding: 1em;
    background-color: rgba(29,29,29,0.86);
    color: white;
    width: 100%;
    height: 100%;
    opacity:0;
    transition: 0.4s;
	top:5em;
	padding-top:3em;
}

.project h3{
    margin:0;
}
#cta{
    margin: 2em 2em;
}

.project figure:hover #cta:after{
  content: 'View project  \2192';
  color:#ffcc00;
  animation: arrow 3s linear infinite;  
    
}

@keyframes arrow {
    0% {opacity:0;}
    10% {opacity:1;}
    50% {opacity:1;}
    60% {opacity:0;}
	100% {opacity:0;}
}

.click-img{
	z-index:0;
	position:relative;
	pointer-events:none;
}
.project figure{
    position: relative;
    overflow: hidden;
}

.project figure img {
    position: relative;
}

.project figure:hover figcaption{
    opacity:1;
	top:0;
}

.project figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    padding:1em;
    width: 100%;
}

.project-title{
    position: absolute;
	top:45%;
}

.project-title-long{
    position: absolute;
    top:40%;
}


.myWork-title{
    color:#9d9d9d;
}
label {
    cursor:pointer;
    padding:3px;
}

.project-tag{
    font-size: 9px;
    font-weight: 300;
    font-style: italic;
}


#project-img img{
    width: 100%;
    padding-bottom: 1em;
}


.btn {
	padding: 12px 16px;
	cursor: crosshair;
	border: 1px solid #9d9d9d;
	border-bottom-style: none;
	outline: none;
	background: none;
	height: 3.3em;
	border-radius: 7px 7px 0 0;
    color:#3d3d3d;
}

.btn:hover {
	background-color: #3d3d3d;
	color: #ffcc00;
	border:none;
}

.btn.active {
	background-color: #ffcc00;
	color: #3d3d3d;
	font-weight: 1000;
	font-stretch: condensed;
	border-radius: 7px 7px 0 0;
	border: 5px #ffcc00;
	border-style: none none solid none ;
}

#myBtnContainer{
	text-align:center;
	width:100%;
	
}

.show{
	display: block;
}

/*------------------------------ FOOTER STYLING -----------------------------*/

#footer{
    text-align: right;
    padding: 10px;
    padding-top: 20px;
    height: 50px;
    color: #4d4d4d;
}

#fb-logo, #twitter-logo, #ig-logo{
    width: 20px;
    height: 20px;
    position: relative;
    float: left;
}

#twitter-logo{
    left: 1em;
}


#iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height:0;
}

#iframe-container iframe{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#contact-icons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content:center;
    grid-gap: 1em;
}

#contact-icons a{
    border-radius: 10px;
    overflow: hidden;
    width: 100px;
    height: 100px;
    background-color: #ffcc00;
}

#contact-icons img{
    object-fit: fill;
}

.msg-me{
    background-color: #ffcc00;
    text-decoration: none;
    font-weight: 1000;
    color: #3d3d3d;
    padding:.3em;
    border-radius: 5px;
}

#about-me img{
    width:100%;
}


